# DHCP host reservations for PXE booting
# These hosts will receive dynamic IPs from dhcp_range during PXE boot
# Static IPs will be configured in Talos machine files

{% for host in pxe_hosts %}
# {{ host.name }}
dhcp-host={{ host.mac }},{{ host.name }},{{ lease_time }}
{% endfor %}

# Ignore unknown clients - only serve known MAC addresses
dhcp-ignore=#known
